@use '../node_modules/bulma/sass/utilities/variables.sass';
@use '../node_modules/bulma/sass/utilities/functions.sass';

$hintPrefix: 'tooltip--';
$hintFontFamily: variables.$family-sans-serif;
$hintTextShadowDarkenAmount: 0;
$hintWarningColor: variables.$warning;
$hintInfoColor: variables.$info;
$hintSuccessColor: variables.$success;

@use '~hint.css/src/hint';

.tooltip--warning:after {
  color: variables.$warning-invert;
}

.#{hint.$hintPrefix}primary {
  @include hint.hint-type(variables.$primary);
}

.#{hint.$hintPrefix}danger {
  @include hint.hint-type(variables.$danger);
}

.#{hint.$hintPrefix}rounded:after {
  border-radius: variables.$radius;
}

[class*='#{hint.$hintPrefix}']:after {
  box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
}
